.first-block-text {
	background-color: #ffffff54;
	font-family: Felidae;
	line-height: 1;
	width: 100%;
	font-weight: 700;
	color: #000;
	text-align: center;
	padding: 12px;
	position: absolute;
	right: 50%;
	bottom: 0;
	font-size: 80px;
	transform: translate(50%);
	@media screen and (min-width: 1024px) {
		font-size: 120px;
		padding: 24px;
	}
	@media screen and (min-width: 2048px) {
		padding: 24px;
		font-size: 160px;
	}
}

.first-block-title {
	/* color: #5d755d; */
	margin-bottom: 20px;
}

.last-block-text {
	background-color: #ffffff54;
	font-family: Felidae;
	line-height: 1;
	font-weight: 700;
	/* color: #5d755d; */
	text-align: center;
	padding: 12px;
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 100%;
	font-size: 30px;
	transform: translate(50%);
	@media screen and (min-width: 1024px) {
		font-size: 60px;
	}
}

.small-letters {
	font-size: 30px;
	@media screen and (min-width: 1024px) {
		font-size: 80px;
	}
}

.last-block-title {
	margin-bottom: 20px;
	padding: 10px;
}

.last-block-names {
	font-size: 60px;
	@media screen and (min-width: 1024px) {
		font-size: 100px;
	}
}

.first-block-subtitle {
	font-size: 60px;
	font-family: Flora;
	@media screen and (min-width: 1024px) {
		font-size: 80px;
	}
}

.flora-letter {
	font-family: Flora;
}

#video {
	height: 100lvh;
	width: 100vw;
	object-fit: cover;
	object-position: 27%;
	transition: height 0.2s linear;
}