@import 'null.css';
@import './firstBlock.css';
@import './secondBlock.css';
@import './thirdBlock.css';
@import './polaroid.css';
@import './dresscode.css';
@import './timing.css';
@import './wishes.css';
@import './mediaBlock.css';
@import './accept.css';
@import './modal.css';
@import './footer.css';

@font-face {
	font-family: "Felidae";
	src: url("../../Assets/Fonts/Felidae.ttf") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "Partizia";
	src: url("../../Assets/Fonts/Patrizia-Regular.ttf") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Flora";
	src: url("../../Assets/Fonts/flora-cyril.ttf") format("woff2");
	font-weight: 400;
}

body {
	line-height: 1.5;
	font-family: "Felidae";
	font-size: 22px;

	@media screen and (min-width: 1440px) {
		font-size: 30px;
	}
}

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

section {
	height: 100lvh;
	width: 100vw;
	position: relative;
	opacity: 0;
   transform: translateY(50px);
   transition: all 0.5s linear;
}

.block-title {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
	@media screnn and (orientation: landscape) {
		width: fit-content;
	};
	@media screen and (min-width: 1440px) {
		font-size: 65px;
		width: fit-content;
	};
}

.title-flora {
	font-family: Flora;
	text-transform: none;
}

.details {
	font-family: Partizia;
}



.block-subtitle {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
}

a[href^="tel"] {
	color: #967969;
	text-decoration: none;
}

.block-details {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
}

.block-date {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
}

.sudar-image {
	width: 300px;

	@media screen and (min-width: 1440px), (orientation: landscape) {
		width: 36vw;
	};
}

.sudar-container {
	@media screen and (max-height: 500px) and (orientation: landscape) {
		display: flex;
		align-items: center;
		gap: 12px;
	};
}

.sudar-container h2 {
	@media screen and (max-height: 500px) and (orientation: landscape) {
		font-size: 24px;
		margin: 0;
	};
}

.title-underline {
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 2px;
}

.bold-underline {
	border-bottom-width: 2px;
}

.white-block-container {
	background-color: #f0eee8;
	color: #967969;
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 28px;
	overflow: hidden;
	
	background-image: url('../../Assets/hello.webp');
	@media screen and (min-width: 1440px),
	(orientation: landscape) {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.green-block-container {
	background-color: #5d755d;
	color: #FFFDD0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 28px;
	text-align: center;
	overflow: hidden;
}

.green-block-container::after {
	content: "";
	position: absolute;
	width: 70vw;
	height: 70vw;
	background-image: url('../../Assets/flower3_left.svg');
	background-repeat: no-repeat;
	top: 0px;
	left: -12px;

	@media screen and (min-width: 1440px), (orientation: landscape) {
		width: 50vw;
		height: 50vw;
	};
}

.green-block-container::before {
	content: "";
	position: absolute;
	width: 70vw;
	height: 70vw;
	background-image: url('../../Assets/flower3_right.svg');
	background-repeat: no-repeat;
	bottom: 0px;
	right: -24px;

	@media screen and (min-width: 1440px), (orientation: landscape) {
		width: 50vw;
		height: 50vw;
	};
}

.center-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../../Assets/paper.jpg');
	border-radius: 15px;
	padding: 12px;
	@media screen and (orientation: landscape) {
	};
	@media screen and (min-width: 1440px) {
		padding: 60px;
	};
}

.button {
	z-index: 10;
	width: 200px;
	height: 50px;
	padding: 8px 12px;
	margin-top: 20px;
	font-family: Partizia;
	font-size: 20px;
	background: transparent;
	border: 1px solid #FFFDD0;
	color: #FFFDD0;
	cursor: pointer;

	@media screen and (min-width: 1440px) {
		position: relative;
		width: 300px;
		outline: none;
		transition: 1s ease-in-out;
	}
}

.button:hover {
	@media screen and (min-width: 1440px) {
		transition: 1s ease-in-out;
		background: #4b5e4b;
	}
}

.button svg {
	display: none;

	@media screen and (min-width: 1440px) {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		fill: none;
		stroke: #fff;
		stroke-dasharray: 300 800;
		stroke-dashoffset: 300;
		transition: 1s ease-in-out;
		font-size: 0px;
	}
}

.button:hover svg {

	@media screen and (min-width: 1440px) {
		stroke-dashoffset: -800;
	}
}