.third-block-title {
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.third-block-subtitle {
	font-size: 24px;
	@media screen and (min-width: 1024px) {
		font-size: 28px;
	}
}


