.timing-flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	@media screen and (min-width: 1024px) {
		font-size: 30px;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	};
}
.timing-flex-item {
	display: flex;
	align-items: center;
	gap: 12px;
	width: 100%;
	@media screen and (min-width: 1024px) {
		width: 320px;
		flex-direction: column;
		text-align: center;
	};
}

.timing-icon {
	width: 60px;
	height: 60px;
	@media screen and (min-width: 1024px) {
		width: 88px;
		height: 88px;
	};
}

.timing-text {
	@media screen and (min-width: 1024px) {
		display: flex;
		flex-direction: column-reverse;
	};
}

.timing-flex-item svg{
	width: 60px;
	height: 60px;
	@media screen and (min-width: 1024px) {
		width: 88px;
		height: 88px;
	};
}

.countdown {
	display: flex;
	justify-content: center;
}

.countdown-item {
	padding: 0 1.2vw;
	text-align: center;
	position: relative;
}

.countdown-item:not(.countdown-item:first-child):before {
    content: "";
	 width: 20px;
	 height: 40px;
	 left: -12px;
	 background-size: contain;
    display: block;
    position: absolute;
    top: -16px;
    bottom: 0;
    margin: auto;
    z-index: 2;
    background-image: url('../../Assets/separator.svg');
    background-position: center;
}
/* .border-item {
	padding: 4px;
	border: 1px solid #967969;
	border-radius: 4px;
} */

/* .count-title {
	font-size: 30px;
	@media screen and (min-width: 1024px) {
		font-size: 65px;
	};
} */

.countdown-item span {
	width: 80px;
	line-height: 1.2;
	display: block;
	font-size: 2em;
	/* @media screen and (min-width: 1024px) {
		font-size: 2em;
	}; */
}

.label {
	font-size: 24px !important;
	@media screen and (min-width: 1024px) {
		font-size: 40px !important;
	};
}

@keyframes gliter {
	0% {
			fill: #fff
		}
		100% {
			fill: #967969
		}
}

.first-star {
	animation: gliter 1s alternate infinite;
}

.second-star {
	animation: gliter 1s alternate infinite;
}
