* {
	box-sizing: border-box;
}

.slider {
	position: relative;
	width: 90vw;
	margin: 0 auto 0;
	user-select: none;
	touch-action: pan-y;
	z-index: 100;
	@media screen and (min-width: 1024px) {
		max-width: 624px;
		font-size: 30px;
	};
}

/* .slider img {
	pointer-events: none;
} */

.slider-list {
	width: 90vw;
	overflow: hidden;
	@media screen and (min-width: 1024px) {
		max-width: 624px;
	};
}

.slider-list.grab {
	cursor: grab;
}

.slider-list.grabbing {
	cursor: grabbing;
}

.slider-track {
	display: flex;
	
}

.slide {
	width: 90vw;
	flex-shrink: 0;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1024px) {
		max-width: 624px;
		font-size: 30px;
	};
}

.slider-arrows {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next,
.prev {
	background: none;
	border: none;
	width: 36px;
	height: 36px;
	background-image: url('../../Assets/arrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 12px;
	font-size: 30px;
	cursor: pointer;
	transition: all .3s;
}

.next:hover {
	@media screen and (min-width: 1024px) {
		transition: transform .3s;
		transform: scale(1.2);
	};
}
.prev:hover {
	@media screen and (min-width: 1024px) {
		transition: transform .3s;
		transform: rotate(180deg) scale(1.2);
	};
}

.prev-arrow {
	transform: rotate(180deg);
}

.next.disabled,
.prev.disabled {
	opacity: .25;
	pointer-events: none;
}